html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("../images/009.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    padding: 240px;
}

#container-1 {
    height: 300px;
    width:250px;
    padding: 45px 45px;
    box-sizing: border-box;
    border: 3px solid #2C8F82;
    border-radius: 20px;
    background-color: rgba(240, 231, 220,0.8);
}



#navbar {
    max-width: 100%;
    border-bottom: 3px solid #206a60; 
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 59px;
    background-color: #091f1c;
}
.navbar-font {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#admin-nav {
    position: relative;
    top: 22px;
    font-weight: 800;
    text-decoration: none; 
    color: white;
}


#bmsLogo {
    height: 100px;
    width: 100px;
    position: relative;
    top: -155px;
    left: 27px;
}

#SignIn {
    text-align: center;
    margin-top: -120px;
}

.admin-text {
    position: relative;
    top: -31px;
    left: -15px;
    color: #2C8F82;   
}

.key-pass {
    position: relative;
    top: -36px;
    left: -15px;
    color: #2C8F82;
}

#text {
    border: 2px solid #2C8F82;
    position: relative;
    right: 27px;
    border-radius: 20px;
    height: 20px;
    margin-bottom: 10px;
    text-align: center;
}

#password {
    border: 2px solid #2C8F82;
    position: relative;
    top: -15px;
    right: 27px;
    border-radius: 20px;
    height: 20px;
    text-align: center;
}

#rememberme {
    display: flex;
    margin-top: -40px;
    margin-left: -27px;
}

#login
{
    position: relative;
    left: 35px;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    background-color: #2C8F82;
    padding-top: 2px;
    padding-left: 10px;
    border: none;
}

#login:hover {
    background-color: gray;
    
}

#login:active{
    background-color: rgb(201, 199, 199);
    
}

#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    border: 2px solid #091f1c;
    background-color: #091f1c;
    color: white;
    display: flex;
    font-size: 10px;
}

#name {
    position: fixed;
    top: -27px;
    left: 10px;
    font-size: 30px;
    font-weight: 800;
    color: white;
}

.error {

    background: #f1b1b1;
    color: rgb(226, 64, 64);
    padding: 10px;
    font-size: 12px;
    width: 210px;
    border-radius: 5px;
    margin: 20px auto;
    position:relative;
    bottom: 10px;
    right: 38px;
    text-align: center;
 }
 @media only screen and (min-width: 768px) {
    body {zoom: 80%;}
} 

@media only screen and (min-width: 1080px) {
    body {zoom: 125%;}
} 

@media only screen and (min-width: 990px) {
    body {zoom: 100%;}
} 